<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{asset 'built/index.css'}}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <script src="{{asset 'built/index.js'}}" defer></script>

        <title>{{meta_title}}</title>

        {{ghost_head}}
        {{! Outputs important meta data and settings, should always be in <head> }}

    </head>
    <body>
        <header id="main_header">
            <a href="{{@site.url}}">
                <img
                    id="main_logo"
                    src="{{asset '/images/logo.webp'}}"
                    alt="{{@site.title}}"
                />
            </a>
            <img
                id="menu_icon"
                src="{{asset '/images/menu.svg'}}"
                alt="Menu Icon"
            />
        </header>
        <nav id="mobile_nav" class="closed_menu">
            <a class="link_text anchor_link" href="{{@site.url}}">Home</a>
            <a class="link_text anchor_link" href="{{@site.url}}#game">Game</a>
            <a class="link_text" href="{{@site.url}}/blog">Blog</a>
            <a class="link_text anchor_link" href="{{@site.url}}#team">Team</a>
            <a
                class="link_text anchor_link"
                href="{{@site.url}}/#contact"
            >Contact</a>
        </nav>

        <main>

            {{{body}}}
            {{! All content gets inserted here, index.hbs, post.hbs, etc }}

        </main>

        <footer id="main_footer">
            <div id="footer_nav">
                <img
                    id="arrow_icon"
                    src="{{asset 'images/chevron-up.svg'}}"
                    alt=""
                />

                <a class="link_text" href="{{@site.url}}/blog">Get to know us</a>
                <a class="link_text" href="">Become a playtester</a>
                <a
                    class="link_text"
                    target="_blank"
                    href="https://store.steampowered.com/app/2514330/The_Rabbit_Haul/"
                >Wishlist on Steam</a>
            </div>
            <div id="footer_socials">
                <img
                    class="social_icon"
                    src="{{asset 'images/tiktok.png'}}"
                    alt=""
                />
                <img
                    class="social_icon"
                    src="{{asset 'images/twitter.png'}}"
                    alt=""
                />
                <img
                    class="social_icon"
                    src="{{asset 'images/instagram.png'}}"
                    alt=""
                />
            </div>
            <div id="footer_disclaimer">
                <p>&copy 2023 Caldera Interactive Ltd.</p>
                <a class="link_text" href="">Privacy</a>
            </div>
        </footer>

        {{! <foot> }}
        {{ghost_foot}}
        {{! Outputs important scripts - should always be included before closing body tag }}

    </body>
</html>